
.icon-camera:before { content: '\e800'; } /* '' */
.icon-beer:before { content: '\e801'; } /* '' */
.icon-tablet:before { content: '\e802'; } /* '' */
.icon-dribbble:before { content: '\e803'; } /* '' */
.icon-share:before { content: '\e804'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-ticket:before { content: '\f145'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */